@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Oxygen:wght@300;400;700&display=swap");

:root {
  --font-body: "Oxygen", sans-serif;
  --font-headline: "Antonio", sans-serif;
  /* colors */
  --primary-color: #ffd5c2;
  --secondary-color: #487070;
  --tertiary-color: #c8553d;
  --quaternary-color: #f28f3b;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}
