@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Oxygen:wght@300;400;700&display=swap");

:root {
  /* fonts */
  --font-body: "Oxygen", sans-serif;
  --font-headline: "Antonio", sans-serif;
  /* colors */
  --primary-color: #ffd5c2;
  --secondary-color: #487070;
  --tertiary-color: #c8553d;
  --quaternary-color: #f28f3b;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
  --menu-icon-height: 4px;
  --menu-icon-width: 35px;
  --duration: 0.5s;
}

/* hamburger menu */
.menu-icon {
  margin-top: 20px;
  z-index: 2;
  transform: translate(0, 0);
  transition: transform var(--duration_) ease;
  justify-content: end;
}

.menu-icon:hover,
.menu-icon:hover:before,
.menu-icon:hover:after {
  cursor: pointer;
  background-color: black;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  height: var(--menu-icon-height);
  width: var(--menu-icon-width);
  display: block;
  border-radius: 50px;
  background-color: black;
}

.menu-icon::before {
  content: "";
  transform: translate(0, -230%);
  opacity: 1;
  transition: transform var(--duration_), var(--duration_) ease;
}

.menu-icon::after {
  content: "";
  transform: translate(0, 130%);
  transition: transform var(--duration_);
}

.menu-icon.open::before {
  transform: translate(0, 0) rotate(45deg);
  opacity: 0;
  background-color: var(--secondary-color);
}

.menu-icon.open:after {
  transform: translate(0, -96%) rotate(90deg);
  background-color: var(--secondary-color);
}

.menu-icon.open {
  transform: translate(-390%, 50px) rotate(45deg);
  background-color: var(--secondary-color);
}

.menu-icon.open:hover,
.menu-icon.open:hover:before,
.menu-icon.open:hover:after {
  cursor: pointer;
  background-color: black;
}

.sidebar {
  background: var(--quaternary-color);
  color: var(--secondary-color);
  height: 50vh;
  width: 0;
  position:absolute;
  top: 4em;
  left: 1230px;
  right: 500px;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 100px;
  transition: left var(--duration_) ease;
}

.sidebar ul li {
  list-style-type: none;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.sidebar ul li:hover {
  color: white;
}

.sidebar.open {
  left: 75vw;
  width: 20vw;
}

* {
  box-sizing: border-box;
}

/* body */
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  background-color: var(--tertiary-color);
}

main {
  background-color: white;
  margin-top: -1em;
  margin-left: 1em;
  margin-right: 1em;
}

.main-content {
  padding: 1em;
}
#main-header {
  padding: 1em;
}
img {
  max-width: 100%;
}
h1 {
  font-family: var(--font-headline);
  letter-spacing: 10px;
  font-weight: 100;
  margin: 0px;
}
/* header */
header {
  display: flex;
  background-color: var(--primary-color);
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0px;
}

#tagline {
  font-family: var(--font-body);
}
/* 
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
} */
